// *******
// THEMING
// *******

$theme7: papayawhip;
$theme8: cadetblue;

// color override
$theme-colors: (
  // 1. default
  "success": yellowgreen,
  
  // 2. custom
  "purple": purple,
  "plum": plum,
  "darkorange": darkorange,
  "orange": orange,
  "gold": gold,
  "goldenrod": goldenrod,
  "papayawhip": $theme7,
);

