<header>
  <!-- TODO: remember: h1, h2.. are used in pages. Not in header.
  SEO => there must be only 1 h1 per page && every h2 per page must have diffrent textContent -->
  <span class="d-block h1 text-purple font-weight-lighter text-center py-2">redux-app</span>
  <span class="d-block h2 bg-plum text-light font-weight-lighter text-center py-2 m-0">
    ngRx = Redux Pattern + RxJS
  </span>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
  <img src="assets/ngRx.svg" width="70" alt="" />

  <!-- hamburger -->
  <button
    #hamburger
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- navbar -->
  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link text-orange px-2"
          routerLink="emitters"
          routerLinkActive="active font-weight-bold"
          (click)="ToggleNavBar(hamburger)"
          >{{ title1 }}<span class="sr-only">{{ title1 }}</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-plum px-2"
          routerLink="redux"
          routerLinkActive="active font-weight-bold"
          (click)="ToggleNavBar(hamburger)"
          >{{ title2 }}</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
