<section class="py-3 border border-purple">
  <h3 class="text-purple text-center font-weight-lighter">Parent</h3>

  <h4 class="text-purple text-center">{{ counter }}</h4>

  <div class="d-flex justify-content-center py-3">
    <button class="btn btn-purple mr-1" (click)="plus()">
      <fa-icon [icon]="faPlus"></fa-icon>
      <span class="sr-only">increase 1</span>
    </button>
    <button class="btn btn-purple ml-1" (click)="minus()">
      <fa-icon [icon]="faMinus"></fa-icon>
      <span class="sr-only">decrease 1</span>
    </button>
  </div>
</section>

<!-- nested -->
<!-- <app-child
  [counterLvl2]="counter"
  (counterEmitLvl2)="counter = $event"
></app-child> -->
<app-rx-child></app-rx-child>