<section class="py-3 border border-violet">
	<h3 class="text-violet text-center font-weight-lighter">Parent</h3>
  
	<h4 class="text-violet text-center">{{ counter }}</h4>
  
	<div class="d-flex justify-content-center py-3">
	  <button class="btn btn-violet mr-1" (click)="double()">
		<fa-icon [icon]="faClone"></fa-icon>
		<span class="sr-only">double</span>
	  </button>
	  <button class="btn btn-violet ml-1" (click)="halve()">
		<fa-icon [icon]="faDivide"></fa-icon>
		<span class="sr-only">halve</span>
	  </button>
	</div>
  </section>
